<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Busquedas incrementales</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/simple-line-icons.min.css' %}"
    />
  </head>

  <body>
    <div>
      <header
        class="d-flex masthead"
        style="
          background-image: url('{% static 'assets/img/bg-masthead.jpg' %}');
        "
      >
        <div class="container my-auto text-center">
          <h1 class="mb-1" style="font-size: 50px">Busquedas incrementales</h1>
          <h3 class="mb-5">
            <em style="font-size: 20.256px"
              >Este método se utiliza principalmente como una introducción al método de la bisección con el fin de encontrar un intervalo que contenga una raíz. Consiste en empezar en un extremo del intervalo de interés y evaluar la función con pequeños incrementos a los largo de dicho intervalo. Este método se basa en el teorema del valor intermedio, el cual se explicó anteriormente. Es importante tener en cuenta que si la longitud del incremento no es la adecuada (lo suficientemente pequeña), algunas raíces pueden pasar inadvertidas.</em
            >
          </h3>
          <a
            class="btn btn-dark btn-xl js-scroll-trigger"
            role="button"
            href="#services"
            onclick="location.href='{% url 'index' %}'"
            >Página principal</a
          >
        </div>
      </header>
      <div class="containerBiseccion">
        <div class="d-flex justify-content-lg-center" id="containerInputBi">
          <form method="post">
            {% csrf_token %}
            <h5>Función:</h5>
            <input
              required
              class="form-control"
              type="text"
              name="funcion"
              placeholder="x^2-5*x+6*sin(x)"
              style="
                width: 325px;
                border-radius: 4px;
                border: 2px solid rgb(228, 180, 11);
              "
            />
            <h5>Valor de inicial:</h5>
            <input
              required
              class="form-control"
              type="text"
              name="numeroInicial"
              placeholder="-0.8"
              style="
                width: 325px;
                margin-top: 20px;
                border-width: 2px;
                border-color: rgb(228, 180, 11);
                border-radius: 4px;
              "
            />
            <h5>Valor del delta:</h5>
            <input
              required
              class="form-control"
              type="text"
              name="delta"
              placeholder="0.1"
              style="
                width: 325px;
                margin-top: 20px;
                border: 2px solid rgb(228, 180, 11);
                border-radius: 4px;
              "
            />
            <h5>Número de iteraciones:</h5>
            <input
              required
              class="form-control"
              type="text"
              name="numIteraciones"
              placeholder="100"
              style="
                margin-top: 20px;
                border-radius: 4px;
                border: 2px solid rgb(228, 180, 11);
                margin-bottom: 15px;
              "
            />
              <button
                class="btn btn-primary d-flex d-lg-flex justify-content-lg-center"
                type="submit"
                style="background: rgb(156, 84, 0)"
              >
                Evaluar
              </button>
            </optgroup>
          </form>
        </div>
        <div class="divTablaResultados">
          <h5>
            {% if lista%}
              {{lista}}
            {% endif %}
            {% if error %}
              <div class="container_mensaje_error">
                <div class="circulo">
                    <i class="material-symbols-outlined">close</i>
                </div>
                <p class="mensaje_error"> <span id="titulo_error">Error</span> </br>{{error}}</p>
              </div>
            {% endif%}
            {% if msg %}
              <div class="container_mensaje_error">
                <div class="circulo">
                    <i class="material-symbols-outlined">close</i>
                </div>
                <p class="mensaje_error"> <span id="titulo_error">Error</span> </br>{{msg}}</p>
              </div>
            {% endif%}
          </h5>
        </div>
      </div>
      <div class="grafica">
        <h1 class="tituloGrafica">Gráfica de la función:</h1>
        <img
          src="{% static 'assets/img/GraficaSYM.jpg' %}"
          id="imagenGrafica"
        />
      </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
  </body>
</html>
