<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Bisección</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/simple-line-icons.min.css' %}"
    />
  </head>

  <body>
    <div>
      <header
        class="d-flex masthead"
        style="
          background-image: url('{% static 'assets/img/bg-masthead.jpg' %}');
        "
      >
        <div class="container my-auto text-center">
          <h1 class="mb-1" style="font-size: 50px">Bisección</h1>
          <h3 class="mb-5">
            <em style="font-size: 20.256px"
              >En matemáticas, el método de bisección , también llamado
              dicotomía, es un algoritmo de búsqueda de raíces que trabaja
              dividiendo el intervalo a la mitad y seleccionando el subintervalo
              que tiene la raíz.</em
            >
          </h3>
          <a
            class="btn btn-dark btn-xl js-scroll-trigger"
            role="button"
            href="#services"
            onclick="location.href='{% url 'index' %}'"
            >Pagina principal</a
          >
        </div>
      </header>
      <div class="d-flex justify-content-lg-center" style="margin-top: 60px">
        <form method="post">
          {% csrf_token %}
          <h5>Funcion:</h5>
          <input
            required
            class="form-control"
            type="text"
            name="funcion"
            style="
              width: 325px;
              border-radius: 4px;
              border: 2px solid rgb(228, 180, 11);
            "
          />
          <h5>Valor de intervalo inferior (a):</h5>
          <input
            required
            class="form-control"
            type="text"
            name="numeroMenor"
            style="
              width: 325px;
              margin-top: 20px;
              border-width: 2px;
              border-color: rgb(228, 180, 11);
              border-radius: 4px;
            "
          />
          <h5>Valor de intervalo superior (b):</h5>
          <input
            required
            class="form-control"
            type="text"
            name="numeroMayor"
            style="
              width: 325px;
              margin-top: 20px;
              border: 2px solid rgb(228, 180, 11);
              border-radius: 4px;
            "
          />
          <h5>Tolerancia:</h5>
          <input
            required
            class="form-control"
            type="text"
            name="tolerancia"
            style="
              margin-top: 20px;
              border: 2px solid rgb(228, 180, 11);
              border-radius: 4px;
            "
          />
          <h5>Numero de iteraciones:</h5>
          <input
            required
            class="form-control"
            type="text"
            name="numIteraciones"
            style="
              margin-top: 20px;
              border-radius: 4px;
              border: 2px solid rgb(228, 180, 11);
              margin-bottom: 15px;
            "
          /><button
            class="btn btn-primary d-flex d-lg-flex justify-content-lg-center"
            type="submit"
            style="background: rgb(156, 84, 0)"
          >
            Evaluar
          </button>
        </form>
      </div>
      <div class="divTablaResultados">
        <table class="styled-table">
          <tr class="active-row">
            <th>N</th>
            <th>F(X)</th>
            <th>Error</th>
          </tr>
          {% if lista %}
          <tr>
            {% for dat in lista %}
            <td>{% for valores in dat%} {{valores}} {% endfor%}</td>
            {% endfor %}
          </tr>
          {% endif %}
        </table>
        <h3>
          {{s}} es una aproximacion de na raiz de F(x) con una tolerancia de
          {{Tol}}
        </h3>
      </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
  </body>
</html>
