<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Factorización LU</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/simple-line-icons.min.css' %}"
    />
  </head>

  <body>
    <div>
      <header
        class="d-flex masthead"
        style="
          background-image: url('{% static 'assets/img/bg-masthead.jpg' %}');
        "
      >
        <div class="container my-auto text-center">
          <h1 class="mb-1" style="font-size: 50px">Factorización LU</h1>
          <h3 class="mb-5">
            <em style="font-size: 20.256px"
              >En el álgebra lineal, la factorización o descomposición LU (del inglés Lower-Upper) es una forma de factorización de una matriz como el producto de una matriz triangular inferior y una superior. Debido a la inestabilidad de este método, deben tenerse en cuenta algunos casos especiales, por ejemplo, si uno o varios elementos de la diagonal principal de la matriz a factorizar es cero, es necesario premultiplicar la matriz por una o varias matrices elementales de permutación. Existe un segundo método llamado factorización con pivote.</em
            >
          </h3>
          <a
            class="btn btn-dark btn-xl js-scroll-trigger"
            role="button"
            href="#services"
            onclick="location.href='{% url 'index' %}'"
            >Página principal</a
          >
        </div>
      </header>
      <p class="notaGaussAdelante"><strong>Nota: </strong>ejemplo de ingreso de la matriz: [[2, 3, 4]; [4, 4, 2]; [5, 3, 4]].</br>
        ejemplo de ingreso del vector: [2; 5; 7].
      </p>
      <div class="lineaNota"></div>
      <div class="containerBiseccion">
        <div class="d-flex justify-content-lg-center" id="conjuntoMatriz">
          <form method="post">
            {% csrf_token %}
            <h5>Ingrese la matriz</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="matrizA"
            />
            <h5>Ingrese el vector b</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="matrizB"
            />
            <h5>Ingrese el tamaño de la matriz A</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="tamañoMatrizA"
              placeholder="3"
            />
            <h5>Ingrese el tipo de factorización</h5>
            <select required name="tipoFactorizacion" id="pivoteo">
              <option name="factorizacionSimple">0</option>
              <option name="factorizacionParcial">1</option>
            </select>

            <p class="notaPivoteo">
              <strong>Recuerde:</strong><br />
              Seleccione 0 para factorización simple<br />
              Seleccione 1 para factorización parcial<br />
            </p>
            <button
              class="btn btn-primary d-flex d-lg-flex justify-content-lg-center"
              type="submit"
              style="background: rgb(156, 84, 0)"
              id="botonMatrices"
            >
              Resolver sistema
            </button>
          </form>
        </div>
        <div class="containerRespuesta">
          {% if data %}
            <table class="styled-table">
              <tr class="active-row" >
                <th>Resultado X</th>
              </tr>
                {% for val in data.0%}
                  <tr >
                    <td>X{{forloop.counter}} : {{val}}</td>
                  </tr>
                {% endfor %}
            </table>
            {% endif %}

            {% if data %}
            <table class="styled-table">
              <tr class="active-row" >
                <th colspan = "{{data.1|length}}">Resultado matriz L</th>
              </tr>
                {% for val in data.1%}
                    <tr >
                      {% for num in val%}
                      <td>{{num}}</td>
                      {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {% endif %}

            {% if data %}
            <table class="styled-table">
              <tr class="active-row" >
                <th colspan = "{{data.2|length}}">Resultado matriz U</th>
              </tr>
                {% for val in data.2%}
                    <tr >
                      {% for num in val%}
                      <td>{{num}}</td>
                      {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
            {% if msg %}
              <div class="container_mensaje_error">
                <div class="circulo">
                    <i class="material-symbols-outlined">close</i>
                </div>
                <p class="mensaje_error"> <span id="titulo_error">Error</span> </br>{{msg}}</p>
              </div>
            {% endif%}

      </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
  </body>
</html>
