<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Gauss</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/simple-line-icons.min.css' %}"
    />
  </head>

  <body>
    <div>
      <header
        class="d-flex masthead"
        style="
          background-image: url('{% static 'assets/img/bg-masthead.jpg' %}');
        "
      >
        <div class="container my-auto text-center">
          <h1 class="mb-1" style="font-size: 50px">Gauss</h1>
          <h3 class="mb-5" >
            <em style="font-size: 20.256px"
              >En álgebra lineal, la eliminación de Gauss-Jordan, llamada así en
              honor de Carl Friedrich Gauss y Wilhelm Jordan, es un algoritmo
              que se usa para determinar la inversa de una matriz y las
              soluciones de un sistema de ecuaciones lineales. Un sistema de
              ecuaciones se resuelve por el método de Gauss cuando se obtienen
              sus soluciones mediante la reducción del sistema dado a otro
              equivalente en el que cada ecuación tiene una incógnita menos que
              la anterior. El método de Gauss-Jordan continúa el proceso de
              transformación hasta obtener una matriz diagonal</em
            >
          </h3>
          <a
            class="btn btn-dark btn-xl js-scroll-trigger"
            role="button"
            href="#services"
            onclick="location.href='{% url 'index' %}'"
            >Página principal</a
          >
        </div>
      </header>
      <p class="notaGaussAdelante"><strong>Nota: </strong>ejemplo de ingreso de la matriz: [1, -3, -5],[5, 7, -9],[-10, 4, 7].</br>
        ejemplo de ingreso del vector: [15],[-20],[-15].
      </p>
      <div class="lineaNota"></div>
      <div class="containerGauss">
        <div class="d-flex justify-content-lg-center" id="conjuntoMatriz">
          <form method="post">
            {% csrf_token %}
            <h5>Ingrese la matriz</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="matrizA"
            />
            <h5>Ingrese el vector b</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="matrizB"
            />
            <h5>Ingrese el tipo de pivoteo</h5>
            <select required name="tipoPivoteo" id="pivoteo">
              <option name="sinPivoteo">0</option>
              <option name="pivoteoParcial">1</option>
              <option name="pivoteoTotal">2</option>
            </select>

            <p class="notaPivoteo">
              <strong>Recuerde:</strong><br />
              Seleccione 0 para sin pivoteo<br />
              Seleccione 1 para pivoteo parcial<br />
              Seleccione 2 para pivoteo total
            </p>
            <button
              class="btn btn-primary d-flex d-lg-flex justify-content-lg-center"
              type="submit"
              style="background: rgb(156, 84, 0)"
              id="botonMatrices"
            >
              Resolver sistema
            </button>
          </form>
        </div>
        <div class="containerRespuesta">
            <table class="styled-table">
              <tr class="active-row" >
                <th>Vector x :</th>
              </tr>
              {% if data %}
                {% for val in data.0%}
                  <tr >
                    <td>X{{forloop.counter}} : {{val}}</td>
                  </tr>
                {% endfor %}
              {% endif %}
            </table>
            {% if data %}
            <table class="styled-table">
              <tr class="active-row" >
                <th colspan = "{{tamaño}}">Matriz Ab</th>
              </tr>
                {% for val in data.1%}
                    <tr >
                      {% for num in val%}
                      <td>{{num}}</td>
                      {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {% endif %}
      </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
  </body>
</html>
