<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Gauss</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/simple-line-icons.min.css' %}"
    />
  </head>

  <body>
    <div>
      <header
        class="d-flex masthead"
        style="
          background-image: url('{% static 'assets/img/bg-masthead.jpg' %}');
        "
      >
        <div class="container my-auto text-center">
          <h1 class="mb-1" style="font-size: 50px">Gauss</h1>
          <h3 class="mb-5">
            <em style="font-size: 20.256px"
              >En álgebra lineal, la eliminación de Gauss-Jordan, llamada así en
              honor de Carl Friedrich Gauss y Wilhelm Jordan, es un algoritmo
              que se usa para determinar la inversa de una matriz y las
              soluciones de un sistema de ecuaciones lineales. Un sistema de
              ecuaciones se resuelve por el método de Gauss cuando se obtienen
              sus soluciones mediante la reducción del sistema dado a otro
              equivalente en el que cada ecuación tiene una incógnita menos que
              la anterior. El método de Gauss-Jordan continúa el proceso de
              transformación hasta obtener una matriz diagonal</em
            >
          </h3>
          <a
            class="btn btn-dark btn-xl js-scroll-trigger"
            role="button"
            href="#services"
            onclick="location.href='{% url 'index' %}'"
            >Pagina principal</a
          >
        </div>
      </header>
      <div class="containerBiseccion">
        <div class="d-flex justify-content-lg-center" id="conjuntoMatriz">
          <form method="post">
            {% csrf_token %}
            <div class="entradasMatriz">
              <h4>Matriz</h4>
              <table>
                {% for i in data%}
                <tr>
                  {% for i in data%}
                  <td>
                    <input
                      required
                      class="matriz"
                      type="text"
                      name="entradaM"
                    />
                  </td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </table>
            </div>
            <div class="matrizResultados">
              <h4>Vector resultados</h4>
              <table>
                {% for i in data%}
                <tr>
                  <td>
                    <input
                      required
                      class="matriz"
                      type="text"
                      name="entradaV"
                    />
                  </td>
                </tr>
                {% endfor %}
              </table>
            </div>
            <button
              class="btn btn-primary d-flex d-lg-flex justify-content-lg-center"
              type="submit"
              style="background: rgb(156, 84, 0)"
              id="botonMatrices"
            >
              Resolver sistema
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
  </body>
</html>
