<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>JacobiGauss</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/simple-line-icons.min.css' %}"
    />
  </head>

  <body>
    <div>
      <header
        class="d-flex masthead"
        style="
          background-image: url('{% static 'assets/img/bg-masthead.jpg' %}');
        "
      >
        <div class="container my-auto text-center">
          <h1 class="mb-1" style="font-size: 50px">Jacobi y Gauss-Seidel</h1>
          <h3 class="mb-5">
            <em style="font-size: 20.256px"
              >Los métodos iterativos de Jacobi y Gauss-Seidel son los procesos de aproximaciones sucesivas para resolver sistemas de ecuaciones lineales compatibles determinados. Ambos requieren de la verificación 
              de un criterio de convergencia comúnmente conocido como diagonal pesada.</em
            >
          </h3>
          <a
            class="btn btn-dark btn-xl js-scroll-trigger"
            role="button"
            href="#services"
            onclick="location.href='{% url 'index' %}'"
            >Página principal</a
          >
        </div>
      </header>
      <p class="notaGaussAdelante"><strong>Nota: </strong>ejemplo de ingreso de la matriz: [[2, 3, 4]; [4, 4, 2]; [5, 3, 4]].</br>
        ejemplo de ingreso del vector: [2; 5; 7].
      </p>
      <div class="lineaNota"></div>
      <div class="containerBiseccion">
        <div class="d-flex justify-content-lg-center" id="conjuntoMatriz">
          <form method="post">
            {% csrf_token %}
            <h5>Ingrese la matriz</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="matrizA"
            />
            <h5>Ingrese el vector b</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="matrizB"
            />
            <h5>Ingrese el vector X0</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="matrizX0"
            />
            <h5>Tolerancia:</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              name="tolerancia"
              id="entradaAjustesGauss"
              placeholder="0.5e-3"
            />
            <h5>Número de iteraciones:</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              name="numIteraciones"
              id="entradaAjustesGauss"
              placeholder="100"
            />
            <h5>Ingrese tipo de método</h5>
            <select required name="tipoMetodo" id="pivoteo">
              <option name="gaussSeidel">0</option>
              <option name="jacobi">1</option>
            </select>

            <p class="notaPivoteo">
              <strong>Recuerde:</strong><br />
              Seleccione 0 para Gauss-Seidel<br />
              Seleccione 1 para Jacobi<br />
            </p>
            <button
              class="btn btn-primary d-flex d-lg-flex justify-content-lg-center"
              type="submit"
              style="background: rgb(156, 84, 0)"
              id="botonMatrices"
            >
              Resolver sistema
            </button>
          </form>
        </div>
        <div class="containerRespuesta">
            {% if data %} 
              <p>{{data}}</p>
            {% endif %}

            {% if msg %}
              <div class="container_mensaje_error">
                <div class="circulo">
                    <i class="material-symbols-outlined">close</i>
                </div>
                <p class="mensaje_error"> <span id="titulo_error">Error</span> </br>{{msg}}</p>
              </div>
            {% endif%}
      </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
  </body>
</html>
