<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Interpolación Newton</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/simple-line-icons.min.css' %}"
    />
  </head>

  <body>
    <div>
      <header
        class="d-flex masthead"
        style="
          background-image: url('{% static 'assets/img/bg-masthead.jpg' %}');
        "
      >
        <div class="container my-auto text-center">
          <h1 class="mb-1" style="font-size: 50px">Interpolación Newton</h1>
          <h3 class="mb-5">
            <em style="font-size: 20.256px"
              >En los problemas de interpolación, se utiliza a menudo la interpolación mediante splines
               porque da lugar a resultados similares requiriendo solamente el uso de polinomios de bajo grado, evitando así las oscilaciones,
               indeseables en la mayoría de las aplicaciones, encontradas al interpolar mediante polinomios de grado elevado.</em
            >
          </h3>
          <a
            class="btn btn-dark btn-xl js-scroll-trigger"
            role="button"
            href="#services"
            onclick="location.href='{% url 'index' %}'"
            >Página principal</a
          >
        </div>
      </header>
      <p class="notaGaussAdelante"><strong>Nota: </strong>ejemplo de ingreso de la matriz: [3, 5, 7].
      </p>
      <div class="lineaNota"></div>
      <div class="containerBiseccion">
        <div class="d-flex justify-content-lg-center" id="conjuntoMatriz">
          <form method="post">
            {% csrf_token %}
            <h5>Ingrese los valores de x</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="valoresX"
            />
            <h5>Ingrese los valores de y</h5>
            <input
              required
              class="entradaTamaño"
              type="text"
              id="entradaAjustesGauss"
              name="valoresY"
            /> 
            <br>     
            <br>  
            <button
              class="btn btn-primary d-flex d-lg-flex justify-content-lg-center"
              type="submit"
              style="background: rgb(156, 84, 0)"
              id="botonMatrices"
            >
              Resolver sistema
            </button>
          </form>
        </div>
        <div class="containerRespuesta">

          {% if data %}
          <table class="styled-table">
            <tr class="active-row" >
              <th colspan = "{{tamaño}}">Resultado matriz</th>
            </tr>
              {% for val in data.0%}
                  <tr >
                    {% for num in val%}
                    <td>{{num}}</td>
                    {% endfor %}
                  </tr>
              {% endfor %}
          </table>
          {% endif %}
            <table class="styled-table">
              <tr class="active-row" >
                <th>Error truncamiento</th>
              </tr>
              {% if data %}
                  <tr >
                    <td>{{data.1}}</td>
                  </tr>
              {% endif %}
            </table>
      </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
  </body>
</html>
