<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Newton</title>
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/bootstrap/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/font-awesome.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/fonts/simple-line-icons.min.css' %}"
    />
  </head>

  <body>
    <div>
      <header
        class="d-flex masthead"
        style="
          background-image: url('{% static 'assets/img/bg-masthead.jpg' %}');
        "
      >
        <div class="container my-auto text-center">
          <h1 class="mb-1" style="font-size: 50px">Newton - Rapshon</h1>
          <h3 class="mb-5">
            <em style="font-size: 20.256px"
              >En análisis numérico, el método de Newton (conocido también como
              el método de Newton-Raphson o el método de Newton-Fourier) es un
              algoritmo para encontrar aproximaciones de los ceros o raíces de
              una función real. También puede ser usado para encontrar el máximo
              o mínimo de una función, encontrando los ceros de su primera
              derivada.</em
            >
          </h3>
          <a
            class="btn btn-dark btn-xl js-scroll-trigger"
            role="button"
            href="#services"
            onclick="location.href='{% url 'index' %}'"
            >Página principal</a
          >
        </div>
      </header>
      <div class="containerBiseccion">
        <div class="d-flex justify-content-lg-center" id="containerInputBi">
          <form method="post">
            {% csrf_token %}
            <h5>Función f(x):</h5>
            <input
              required
              class="form-control"
              type="text"
              name="funcion"
              placeholder="log(sin(x)^2 + 1)-(1/2)"
              style="
                width: 325px;
                border-radius: 4px;
                border: 2px solid rgb(228, 180, 11);
              "
            />
            <h5>Valor inicial (x0):</h5>
            <input
              required
              class="form-control"
              type="text"
              name="valInicial"
              placeholder="0.5"
              style="
                width: 325px;
                margin-top: 20px;
                border: 2px solid rgb(228, 180, 11);
                border-radius: 4px;
              "
            />
            <h5>Tolerancia:</h5>
            <input
              required
              class="form-control"
              type="text"
              name="tolerancia"
              placeholder="0.5e-3"
              style="
                margin-top: 20px;
                border: 2px solid rgb(228, 180, 11);
                border-radius: 4px;
              "
            />
            <h5>Número de iteraciones:</h5>
            <input
              required
              class="form-control"
              type="text"
              name="numIteraciones"
              placeholder="100"
              style="
                margin-top: 20px;
                border-radius: 4px;
                border: 2px solid rgb(228, 180, 11);
                margin-bottom: 15px;
              "
            />
            <h5>Tipo de error:</h5>
            <select name="tipoDeError" id="errores">
              <option name="errorAbsoluto">Error absoluto</option>
              <option name="errorRelativo">Error relativo</option>
            </select>
            <button
              class="btn btn-primary d-flex d-lg-flex justify-content-lg-center"
              type="submit"
              style="background: rgb(156, 84, 0)"
            >
              Evaluar
            </button>
          </form>
        </div>
        <div class="divTablaResultados">
          <table class="styled-table">
            <tr class="active-row">
              <th>N</th>
              <th>X(n)</th>
              <th>F(X)</th>
              <th>Error</th>
            </tr>
            {% if lista %} {% for dat in lista %}
            <tr>
              {% for valores in dat%}
              <td>{{valores}} {% endfor%}</td>
              {% endfor %}
            </tr>
            {% endif %}
          </table>
          <h3>
            {{s}} es una aproximación de na raiz de F(x) con una tolerancia de
            {{Tol}}
          </h3>
        </div>
      </div>
      <div class="grafica">
        <h1 class="tituloGrafica">Gráfica de la función:</h1>
        <img
          src="{% static 'assets/img/GraficaSYM.jpg' %}"
          id="imagenGrafica"
        />
      </div>
    </div>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/stylish-portfolio.js' %}"></script>
  </body>
</html>
